
.App-header-container {
  padding-left: 12px;
  padding-right: 12px;
background: linear-gradient(34deg, rgba(222,210,232,1) 2%, rgba(210,226,217,1) 67%);
}

.App-header {
  min-height: 788px;


}
.Logo {
  font-size: calc(10px + 2vmin);
  color: black;
  max-height: 26vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  /* Moves content up, down, center, etc */
  justify-content: left;
}

.App-link {
  color: #61dafb;
}

.Header-one {
  font-size: 32px;
}